div(class="container-fluid")
    div(class="row")
        div(class="col-lg-12 col-md-12 col-sm-12")
            div(class="footer-content")
                span(class="copyright")
                    span &copy; 2016&nbsp;
                    a(href="https://github.com/shorifali", target="_bank") Shorif Ali
                    span ,&nbsp;All rights reserved
