extends layout

block content
    section(class="table-content")
        h3(class="pull-left")
            span(class="pull-left") #{ title }
        div(class="pull-right select-wrapper clearfix")
            select(class="selector", ng-model="tableCtrl.pageSize", ng-change="tableCtrl.changeValue()")
                option(value="50") 50
                option(value="100") 100
                option(value="200") 200
                option(value="300") 300
                option(value="400") 400
                option(value="500") 500
            select(class="selector", ng-model="tableCtrl.pageNumber", ng-change="tableCtrl.changeValue()")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
        div(class="table-wrapper", ng-show="tableCtrl.showTable")
            node-table(class="node-table")
        script(id="popup", type="template")
            tr(class="table-popup", ng-cloak="ng-cloak")
                td(colspan="8")
                    table(class="table table-responsive")
                        tbody(class="table-body")
                            tr(class="table-row")
                                td(class="table-col")
                                    span(class="popup-label") ID:&nbsp;
                                    {{tableCtrl.popupData.id}}
                                td(class="table-col")
                                    span(class="popup-label") Name:&nbsp;
                                    {{tableCtrl.popupData.name}}
                                td(class="table-col")
                                    span(class="popup-label") Country:&nbsp;
                                    {{tableCtrl.popupData.country}}
                                td(class="table-col")
                                    span(class="popup-label") Experience:&nbsp;
                                    {{tableCtrl.popupData.experience}}
                                td(class="table-col")
                                    span(class="popup-label") Gender:&nbsp;
                                    {{tableCtrl.popupData.gender}}
                                td(class="table-col")
                                    span(class="popup-label") Age:&nbsp;
                                    {{tableCtrl.popupData.age}}
                                td(class="table-col")
                                    span(class="popup-label") Profession:&nbsp;
                                    {{tableCtrl.popupData.profession}}
                                td(class="table-col")
                                    span(class="popup-label") Status:&nbsp;
                                    {{tableCtrl.popupData.status}}
                    span(class="btn-close pull-right", ng-click="tableCtrl.closePopup()")
                        i(class="glyphicon glyphicon-remove")

block scripts
    script(type="text/javascript", src="/javascripts/modules/table.controller.js")
    script(type="text/javascript", src="/javascripts/modules/table.directive.js")
